@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 100%;
    padding: 0px 134px;
    margin: 0 auto;
    max-width: 1920px;
}

/* MAIN HEADER */
/* PENCIL BANNER */
header {
    background-color: #333333;

}

.pencilbanner {
    padding: 15px;
    color: #666666;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    align-items: center;
}

.currency-icon {
    display: flex;

}

.currency-icon .fa-angle-down {
    padding-left: 8px;
}

.currency-icon p {
    text-transform: capitalize;
    font-size: 13px;
    color: #666666;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

}

.bar-menu {
    display: flex;
}

.menu {
    display: flex;
    gap: 40px;
    padding-right: 96px;

}

.menu p {
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.register {
    padding-right: 35px;
}

.cart-icon {
    display: flex;
}

.cart-icon .fa-angle-down {
    padding-left: 8px;
}

.cart-icon .fa-cart-shopping {
    color: #fff;
    font-size: 15px;

}

.cart-icon p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #ffff;
    font-size: 12px;
    align-items: center;
}

.cart-icon:hover {
    background-color: #00c8c8;
    padding: 7px;
}

.fa-cart-shopping {
    padding-right: 24px;
    align-items: center;
    font-size: 15px;
}

.fa-angle-down {
    /* padding-left: 8px; */
    font-size: 15px;
    color: #ffff;
}

/* SLIDER IMAGE */
.slider-main {
    background-color: #ffff;
    border-bottom: 5px solid black;
    padding-bottom: 50px;

}

.slider-img {
    display: flex;
}

.slider-img img {
    width: 100%;
    position: relative;
}

/* NAV-BAR */
.nav-list li a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #000;
    padding-top: 20px;
}

.nav-list li a:hover {
    color: #00c8c8;
}

.nav-list li a:hover .fa-angle-down {
    color: #00c8c8;
}

.nav-list .fa-angle-down {
    color: #989898;
}

/* SLIDER */
.navigation {
    display: flex;
}


.main-nav {
    display: flex;
}

.nav-bar {
    display: flex;
    position: absolute;
    right: 0;
    top: 70px;
    padding-right: 270px;

}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 40px;
    font-size: 13px;
    text-transform: uppercase;
    padding-right: 85px;

}



/* LOGO */
.logo img {
    position: absolute;
    top: 85px;
    padding-left: 135px;
}

/* SEARCH BAR */
.search-container {
    position: relative;
}

.search-bar {
    width: 192px;
    padding: 10px;
    background-color: transparent;
    color: #333;
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 35px;
    padding-right: 50px;
}

.search-bar::placeholder {
    color: #999;
}


.search-bar .fa-magnifying-glass {
    position: absolute;
    top: 57px;
    right: 59px;

    color: #666;
}

.search-btn p {
    position: absolute;
    font-size: 16px;
    font-family: montserat;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid black;
    width: 300px;
    padding: 20px;
    text-align: center;
    top: 100%;
    right: 328px;
}

.search-btn p:hover {
    color: #fff;
    background-color: #000;

}

/* CARDS-SECTION*/
.dress-card {
    padding: 55px;
}

.card-nav li a {
    text-decoration: none;
    font-size: 13px;
    font-family: montserat;
    font-weight: 400;
    color: #000;

}

.card-nav {
    list-style-type: none;
    display: flex;
    gap: 60px;
    text-transform: uppercase;
}

.card-nav li a:hover {
    color: #00c8c8;
}

/*  T-SHIRT PHOTO */
/*  LEFT-CARD */
.left-card {
    /* width: 55%; */
}

.img-card {
    display: flex;
    gap: 31px;
    /* flex-direction: column; */

}

.small-img {}

.big-img img {
    padding: 31px 0 0 0;
    width: 870px;
    height: 704;

}

/* RIGHT-CARD */
.big-img-1 {
    position: relative;
    width: 870px;
    height: 704;
}

.big-img-1 .price-tag-4 {
    position: absolute;
    font-size: 21px;
    top: 25px;
    left: 35px;
    color: #9a9a9a;
}

.small-img-1 {
    display: flex;
    padding: 31px 0 0 0;
}

.orange {
    position: relative;
}

.orange .price-tag-5 {
    position: absolute;
    font-size: 21px;
    top: 25px;
    left: 35px;
    color: #9a9a9a;

}

.front-back {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 16px;
    right: 37px;
    top: 35px;
}

.front-back img {
    border: 1px solid #fff;
}

.female-tee {
    position: relative;
}

.female-tee .price-tag-6 {
    position: absolute;
    font-size: 21px;
    top: 15px;
    left: 16px;
    color: #9a9a9a;
}